<%#
  view of issue_edit
%>
<%
  detail_diffs = better_mail_details_diffs(@journal_details)
  status_diff = detail_diffs.detect {|d| d.detail.property == 'attr' && d.detail.prop_key == 'status_id'}
  desc_diff = detail_diffs.detect {|d| d.detail.property == 'attr' && d.detail.prop_key == 'description'}
%>

<%= render layout: 'better_mail_shared/container', locals: { border_top: true } do %>
  <h1 style="margin: 0; font-size: 1.2em;">
    <span style="
      border-right: 1px solid #999;
      padding-right: 5px;
      margin-right: 5px;
      "><%= l(status_diff ? :change_status : :change, scope: 'better_mail.issue_change') %></span>
    <%= link_to(
      "#{@issue.tracker.name} ##{@issue.id}: #{@issue.subject}",
      @issue_url,
      style: 'color:#0298CD; text-decoration: none;'
    ) %>
  </h1>
<% end %>

<%= render layout: 'better_mail_shared/container' do %>
  <%= l(:text_issue_updated,
        id: "##{@issue.id}",
        author: h(@journal.user)).html_safe %>

  <%= hr %>

  <% if status_diff %>
    <div style="color:#a0a0a0; font-size: 0.8em;">
      <%= l(:field_status) %>:
    </div>

    <div>
      <%= status_diff.old_value %>
      →
      <%= status_diff.value %>
    </div>

    <%= hr %>
  <% end %>

  <% if desc_diff %>
    <div style="color:#a0a0a0; font-size: 0.8em;">
      <%= l(:field_description) %>:
    </div>

    <div style="
      padding: 5px;
      background-color: #f6f6f6;
    ">
      <%= simple_format_without_paragraph(
        Redmine::Helpers::Diff.new(desc_diff.value, desc_diff.old_value).to_html.
          gsub('class="diff_in"', 'style="background: #cfc;"').
          gsub('class="diff_out"', 'style="background: #fcc;"')
      ) %>
    </div>

    <%= hr %>
  <% end %>

  <% if @journal.notes.present? %>
    <div style="color:#a0a0a0; font-size: 0.8em;">
      <%= l(:field_notes) %>:
    </div>
    <% if @journal.private_notes? %>
      (<%= l(:field_private_notes) %>)<br>
    <% end %>
    <%= textilizable(@journal, :notes, only_path: false) %>

    <%= hr %>
  <% end %>

  <%= render partial: 'better_mail_shared/attributes',
    locals: {
      items:
        detail_diffs.map do |diff|
          {
            key: diff.label,
            value: render(partial: 'better_mail_shared/detail_diff', locals: { diff: diff }).html_safe
          }
        end
    }
  %>

<% end %>

<%= render layout: 'better_mail_shared/container' do %>
  <%= render partial: 'issue',
    formats: [:html],
    locals: { issue: @issue, users: @users, issue_url: @issue_url } %>
<% end %>
